.barra-navegacion {
  display: flex;
  position: fixed;
  z-index: 100;
  height: 45px;
  width: 100%;
  background-color: #24292e;
}

.links-navegacion {
  display: grid;
  grid-template-columns: 450px auto;
  grid-template-rows: auto;
  width: 100%;
  align-items: center;
  padding: 4px 5px;
}
.links-navegacion .inicio {
  margin-left: 60px;
}
.links-navegacion a:hover {
  transition: all 0.2s;
  color: #ffffff96;
}
.links-navegacion a, .links-navegacion ul li a {
  color: #fff;
}
.links-navegacion ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.links-navegacion ul a:hover {
  color: #ffffff96;
}
.links-navegacion ul li {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
}
.links-navegacion ul li a {
  height: 100%;
  display: flex;
  align-items: center;
}