.barra-navegacion {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  position: fixed;
  z-index: 100;
  height: 45px;
  width: 100vw;
  background-color: #24292e;
}
.barra-navegacion .inicio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
}
.barra-navegacion .inicio a {
  color: #fff;
}
.barra-navegacion .links-navegacion {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  width: 100%;
  align-items: center;
  padding: 4px 5px;
}
.barra-navegacion .links-navegacion a:hover {
  transition: all 0.2s;
  color: #ffffff96;
}
.barra-navegacion .links-navegacion a, .barra-navegacion .links-navegacion .menu ul li a {
  color: #fff;
}
.barra-navegacion .links-navegacion .menu .fondo-menu {
  display: none;
}
.barra-navegacion .links-navegacion .menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.barra-navegacion .links-navegacion .menu ul a:hover {
  color: #ffffff96;
}
.barra-navegacion .links-navegacion .menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
}
.barra-navegacion .links-navegacion .menu ul li a {
  height: 100%;
  display: flex;
  align-items: center;
}
.barra-navegacion .links-navegacion .menu ul li:first-child {
  display: none;
}
.barra-navegacion .abrir-menu {
  display: none;
}