.fuente-grande {
  font-size: 50px;
  text-align: center;
}

.contenido {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100vh auto 100vh 100vh 30vh;
}
.contenido .seccion-proyectos, .contenido .seccion-conocimientos, .contenido .sobre-mi {
  padding: 45px;
}
.contenido .nombre {
  background: url("../img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenido .seccion-proyectos {
  display: flex;
  border: 1px red solid;
  flex-direction: column;
  background-color: #f2f2f2;
}
.contenido .seccion-proyectos .proyectos {
  border: 1px red solid;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
}
.contenido .seccion-proyectos .proyectos .proyecto1 {
  border-radius: 5px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 300px;
  border: 1px red solid;
  width: 1200px;
  transition: all 0.2s;
  background-color: #3e4756;
}
.contenido .seccion-proyectos .proyectos .proyecto1 .imagen1 {
  background-image: url("../proyectos/Captura proyecto1.JPG");
}
.contenido .seccion-proyectos .proyectos .proyecto1 .imagen2 {
  background-image: url("../proyectos/Captura proyecto2.JPG");
}
.contenido .seccion-proyectos .proyectos .proyecto1 .imagen1 {
  border-radius: 5px 0 0 5px;
  background-size: cover;
  background-position: center;
}
.contenido .seccion-proyectos .proyectos .proyecto1 .imagen1 img {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}
.contenido .seccion-proyectos .proyectos .proyecto1 .info {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 50px;
}
.contenido .seccion-proyectos .proyectos .proyecto1 .info .texto {
  padding: 10px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  width: 100%;
}
.contenido .seccion-proyectos .proyectos .proyecto1 .info .texto h3 {
  color: #e3e3e3;
  text-align: center;
  text-decoration: underline;
}
.contenido .seccion-proyectos .proyectos .proyecto1 .info .texto p {
  color: #e3e3e3;
  font-size: 20px;
}
.contenido .seccion-proyectos .proyectos .proyecto1 .info .links {
  display: flex;
  transition: all 0.2s;
  padding: 5px;
  justify-content: space-around;
}
.contenido .seccion-proyectos .proyectos .proyecto1 .info .links a {
  display: flex;
  align-items: center;
  font-size: 20px;
  background-color: #1fa9b5;
  border-radius: 3px;
  padding: 5px;
  color: #e3e3e3;
  transition: all 0.2s;
}
.contenido .seccion-proyectos .proyectos .proyecto1 .info .links a:hover {
  transform: scale(1.05);
  transition: all 0.2s;
  color: #ff6600;
}
.contenido .seccion-proyectos .proyectos .proyecto1:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}
.contenido .seccion-proyectos .proyectos .proyecto2 {
  border-radius: 5px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 300px;
  border: 1px red solid;
  width: 1200px;
  transition: all 0.2s;
  background-color: #3e4756;
}
.contenido .seccion-proyectos .proyectos .proyecto2 .imagen1 {
  background-image: url("../proyectos/Captura proyecto1.JPG");
}
.contenido .seccion-proyectos .proyectos .proyecto2 .imagen2 {
  background-image: url("../proyectos/Captura proyecto2.JPG");
}
.contenido .seccion-proyectos .proyectos .proyecto2 .imagen2 {
  border-radius: 5px 0 0 5px;
  background-size: cover;
  background-position: center;
}
.contenido .seccion-proyectos .proyectos .proyecto2 .imagen2 img {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}
.contenido .seccion-proyectos .proyectos .proyecto2 .info {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 50px;
}
.contenido .seccion-proyectos .proyectos .proyecto2 .info .texto {
  padding: 10px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  width: 100%;
}
.contenido .seccion-proyectos .proyectos .proyecto2 .info .texto h3 {
  color: #e3e3e3;
  text-align: center;
  text-decoration: underline;
}
.contenido .seccion-proyectos .proyectos .proyecto2 .info .texto p {
  color: #e3e3e3;
  font-size: 20px;
}
.contenido .seccion-proyectos .proyectos .proyecto2 .info .links {
  display: flex;
  transition: all 0.2s;
  padding: 5px;
  justify-content: space-around;
}
.contenido .seccion-proyectos .proyectos .proyecto2 .info .links a {
  display: flex;
  align-items: center;
  font-size: 20px;
  background-color: #1fa9b5;
  border-radius: 3px;
  padding: 5px;
  color: #e3e3e3;
  transition: all 0.2s;
}
.contenido .seccion-proyectos .proyectos .proyecto2 .info .links a:hover {
  transform: scale(1.05);
  transition: all 0.2s;
  color: #ff6600;
}
.contenido .seccion-proyectos .proyectos .proyecto2:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}
.contenido .seccion-proyectos .proyectos .proyecto3 {
  border-radius: 5px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 300px;
  border: 1px red solid;
  width: 1200px;
  transition: all 0.2s;
  background-color: #3e4756;
}
.contenido .seccion-proyectos .proyectos .proyecto3 .imagen1 {
  background-image: url("../proyectos/Captura proyecto1.JPG");
}
.contenido .seccion-proyectos .proyectos .proyecto3 .imagen2 {
  background-image: url("../proyectos/Captura proyecto2.JPG");
}
.contenido .seccion-proyectos .proyectos .proyecto3 .imagen3 {
  border-radius: 5px 0 0 5px;
  background-size: cover;
  background-position: center;
}
.contenido .seccion-proyectos .proyectos .proyecto3 .imagen3 img {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}
.contenido .seccion-proyectos .proyectos .proyecto3 .info {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 50px;
}
.contenido .seccion-proyectos .proyectos .proyecto3 .info .texto {
  padding: 10px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  width: 100%;
}
.contenido .seccion-proyectos .proyectos .proyecto3 .info .texto h3 {
  color: #e3e3e3;
  text-align: center;
  text-decoration: underline;
}
.contenido .seccion-proyectos .proyectos .proyecto3 .info .texto p {
  color: #e3e3e3;
  font-size: 20px;
}
.contenido .seccion-proyectos .proyectos .proyecto3 .info .links {
  display: flex;
  transition: all 0.2s;
  padding: 5px;
  justify-content: space-around;
}
.contenido .seccion-proyectos .proyectos .proyecto3 .info .links a {
  display: flex;
  align-items: center;
  font-size: 20px;
  background-color: #1fa9b5;
  border-radius: 3px;
  padding: 5px;
  color: #e3e3e3;
  transition: all 0.2s;
}
.contenido .seccion-proyectos .proyectos .proyecto3 .info .links a:hover {
  transform: scale(1.05);
  transition: all 0.2s;
  color: #ff6600;
}
.contenido .seccion-proyectos .proyectos .proyecto3:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}
.contenido .seccion-proyectos .proyectos .proyecto4 {
  border-radius: 5px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 300px;
  border: 1px red solid;
  width: 1200px;
  transition: all 0.2s;
  background-color: #3e4756;
}
.contenido .seccion-proyectos .proyectos .proyecto4 .imagen1 {
  background-image: url("../proyectos/Captura proyecto1.JPG");
}
.contenido .seccion-proyectos .proyectos .proyecto4 .imagen2 {
  background-image: url("../proyectos/Captura proyecto2.JPG");
}
.contenido .seccion-proyectos .proyectos .proyecto4 .imagen4 {
  border-radius: 5px 0 0 5px;
  background-size: cover;
  background-position: center;
}
.contenido .seccion-proyectos .proyectos .proyecto4 .imagen4 img {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}
.contenido .seccion-proyectos .proyectos .proyecto4 .info {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 50px;
}
.contenido .seccion-proyectos .proyectos .proyecto4 .info .texto {
  padding: 10px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  width: 100%;
}
.contenido .seccion-proyectos .proyectos .proyecto4 .info .texto h3 {
  color: #e3e3e3;
  text-align: center;
  text-decoration: underline;
}
.contenido .seccion-proyectos .proyectos .proyecto4 .info .texto p {
  color: #e3e3e3;
  font-size: 20px;
}
.contenido .seccion-proyectos .proyectos .proyecto4 .info .links {
  display: flex;
  transition: all 0.2s;
  padding: 5px;
  justify-content: space-around;
}
.contenido .seccion-proyectos .proyectos .proyecto4 .info .links a {
  display: flex;
  align-items: center;
  font-size: 20px;
  background-color: #1fa9b5;
  border-radius: 3px;
  padding: 5px;
  color: #e3e3e3;
  transition: all 0.2s;
}
.contenido .seccion-proyectos .proyectos .proyecto4 .info .links a:hover {
  transform: scale(1.05);
  transition: all 0.2s;
  color: #ff6600;
}
.contenido .seccion-proyectos .proyectos .proyecto4:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}
.contenido .seccion-conocimientos {
  border: 1px blue solid;
  background-color: #e3e3e3;
}
.contenido .seccion-conocimientos .tecnologias {
  border: 1px red solid;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-column-gap: 40px;
}
.contenido .seccion-conocimientos .tecnologias .frontend, .contenido .seccion-conocimientos .tecnologias .backend, .contenido .seccion-conocimientos .tecnologias .otros {
  border: 1px red solid;
}
.contenido .seccion-conocimientos .tecnologias .frontend h2, .contenido .seccion-conocimientos .tecnologias .backend h2, .contenido .seccion-conocimientos .tecnologias .otros h2 {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
}
.contenido .seccion-conocimientos .tecnologias .frontend ul, .contenido .seccion-conocimientos .tecnologias .backend ul, .contenido .seccion-conocimientos .tecnologias .otros ul {
  border: 1px red solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenido .seccion-conocimientos .tecnologias .frontend ul li, .contenido .seccion-conocimientos .tecnologias .backend ul li, .contenido .seccion-conocimientos .tecnologias .otros ul li {
  font-size: 30px;
  margin: 20px 0;
  border: 1px red solid;
  display: flex;
  align-items: center;
}
.contenido .seccion-conocimientos .tecnologias .frontend ul li .fab, .contenido .seccion-conocimientos .tecnologias .backend ul li .fab, .contenido .seccion-conocimientos .tecnologias .otros ul li .fab {
  font-size: 60px;
  margin-right: 15px;
}
.contenido .seccion-conocimientos .tecnologias .frontend ul li img, .contenido .seccion-conocimientos .tecnologias .backend ul li img, .contenido .seccion-conocimientos .tecnologias .otros ul li img {
  width: 80px;
  margin: 15px;
}
.contenido .seccion-conocimientos .tecnologias .frontend ul li .fa-html5, .contenido .seccion-conocimientos .tecnologias .backend ul li .fa-html5, .contenido .seccion-conocimientos .tecnologias .otros ul li .fa-html5 {
  color: #e34f26;
}
.contenido .seccion-conocimientos .tecnologias .frontend ul li .fa-css3-alt, .contenido .seccion-conocimientos .tecnologias .backend ul li .fa-css3-alt, .contenido .seccion-conocimientos .tecnologias .otros ul li .fa-css3-alt {
  color: #1572b6;
}
.contenido .seccion-conocimientos .tecnologias .frontend ul li .fa-js, .contenido .seccion-conocimientos .tecnologias .backend ul li .fa-js, .contenido .seccion-conocimientos .tecnologias .otros ul li .fa-js {
  color: #f7df1e;
}
.contenido .seccion-conocimientos .tecnologias .frontend ul li .fa-sass, .contenido .seccion-conocimientos .tecnologias .backend ul li .fa-sass, .contenido .seccion-conocimientos .tecnologias .otros ul li .fa-sass {
  color: #CD6799;
}
.contenido .seccion-conocimientos .tecnologias .frontend ul li .fa-laravel, .contenido .seccion-conocimientos .tecnologias .backend ul li .fa-laravel, .contenido .seccion-conocimientos .tecnologias .otros ul li .fa-laravel {
  color: #fb503b;
}
.contenido .seccion-conocimientos .tecnologias .frontend ul li .fa-git-alt, .contenido .seccion-conocimientos .tecnologias .backend ul li .fa-git-alt, .contenido .seccion-conocimientos .tecnologias .otros ul li .fa-git-alt {
  color: #f34f29;
}
.contenido .sobre-mi {
  border: 1px red solid;
  background-color: #3e4756;
}
.contenido .contacto {
  border: 1px red solid;
  background-image: url("../img1.jpg");
}
.contenido .contacto .vias-comunicacion {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.5);
}
.contenido .contacto .vias-comunicacion .izquierda {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;
}
.contenido .contacto .vias-comunicacion .izquierda .linkedin i, .contenido .contacto .vias-comunicacion .izquierda .github i {
  font-size: 50px;
}
.contenido .contacto .vias-comunicacion .izquierda .linkedin {
  color: #0077b5;
  margin-right: 20px;
}
.contenido .contacto .vias-comunicacion .derecha {
  padding: 10px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-items: center;
}
.contenido .contacto .vias-comunicacion .derecha p {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: #fff;
}
.contenido .contacto .vias-comunicacion .derecha p a {
  color: #fff;
}
.contenido .contacto .vias-comunicacion .derecha p i {
  margin-right: 10px;
}