.contenido {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100vh 100vh 100vh 100vh 100vh;
}
.contenido .nombre {
  background: url("https://www.hola.com/imagenes/estar-bien/20190820147813/razas-perros-pequenos-parecen-grandes/0-711-550/razas-perro-pequenos-grandes-m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenido .seccion-proyectos {
  border: 1px red solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
.contenido .seccion-proyectos h2 {
  text-align: center;
  border: 1px red solid;
}
.contenido .seccion-proyectos .proyectos {
  border: 1px red solid;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contenido .seccion-proyectos .proyectos .proyecto1 {
  border: 1px red solid;
  width: 500px;
}
.contenido .seccion-proyectos .proyectos .proyecto1 img {
  border: 1px red solid;
  display: flex;
  width: 100%;
}
.contenido .seccion-proyectos .proyectos .proyecto1 h3 {
  text-align: center;
}
.contenido .seccion-proyectos .proyectos .proyecto2 {
  border: 1px red solid;
  width: 500px;
}
.contenido .seccion-proyectos .proyectos .proyecto2 img {
  border: 1px red solid;
  display: flex;
  width: 100%;
}
.contenido .seccion-proyectos .proyectos .proyecto2 h3 {
  text-align: center;
}
.contenido .seccion-proyectos .proyectos .proyecto3 {
  border: 1px red solid;
  width: 500px;
}
.contenido .seccion-proyectos .proyectos .proyecto3 img {
  border: 1px red solid;
  display: flex;
  width: 100%;
}
.contenido .seccion-proyectos .proyectos .proyecto3 h3 {
  text-align: center;
}