@media screen and (max-width: 1295px) {
  .contenido .seccion-proyectos, .contenido .seccion-conocimientos, .contenido .sobre-mi {
    padding: 0px;
    padding-top: 60px;
  }
  .contenido .seccion-proyectos .proyectos .proyecto1 {
    border-radius: 5px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 400px;
    border: 1px red solid;
    width: 900px;
    transition: all 0.2s;
    background-color: #3e4756;
  }
  .contenido .seccion-proyectos .proyectos .proyecto1:hover {
    transform: scale(1.02);
    transition: all 0.2s;
  }
  .contenido .seccion-proyectos .proyectos .proyecto2 {
    border-radius: 5px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 400px;
    border: 1px red solid;
    width: 900px;
    transition: all 0.2s;
    background-color: #3e4756;
  }
  .contenido .seccion-proyectos .proyectos .proyecto2:hover {
    transform: scale(1.02);
    transition: all 0.2s;
  }
  .contenido .seccion-proyectos .proyectos .proyecto3 {
    border-radius: 5px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 400px;
    border: 1px red solid;
    width: 900px;
    transition: all 0.2s;
    background-color: #3e4756;
  }
  .contenido .seccion-proyectos .proyectos .proyecto3:hover {
    transform: scale(1.02);
    transition: all 0.2s;
  }
  .contenido .seccion-proyectos .proyectos .proyecto4 {
    border-radius: 5px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 400px;
    border: 1px red solid;
    width: 900px;
    transition: all 0.2s;
    background-color: #3e4756;
  }
  .contenido .seccion-proyectos .proyectos .proyecto4:hover {
    transform: scale(1.02);
    transition: all 0.2s;
  }
}
@media screen and (max-width: 925px) {
  .contenido .seccion-proyectos, .contenido .seccion-conocimientos, .contenido .sobre-mi {
    width: 100vw;
  }
  .contenido .seccion-proyectos .proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenido .seccion-proyectos .proyectos .proyecto1 {
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px auto;
    border: 1px red solid;
    width: 90%;
    background-color: #3e4756;
  }
  .contenido .seccion-proyectos .proyectos .proyecto1:hover {
    transform: none;
  }
  .contenido .seccion-proyectos .proyectos .proyecto2 {
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px auto;
    border: 1px red solid;
    width: 90%;
    background-color: #3e4756;
  }
  .contenido .seccion-proyectos .proyectos .proyecto2:hover {
    transform: none;
  }
  .contenido .seccion-proyectos .proyectos .proyecto3 {
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px auto;
    border: 1px red solid;
    width: 90%;
    background-color: #3e4756;
  }
  .contenido .seccion-proyectos .proyectos .proyecto3:hover {
    transform: none;
  }
  .contenido .seccion-proyectos .proyectos .proyecto4 {
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px auto;
    border: 1px red solid;
    width: 90%;
    background-color: #3e4756;
  }
  .contenido .seccion-proyectos .proyectos .proyecto4:hover {
    transform: none;
  }
}
@media screen and (max-width: 790px) {
  .contenido .seccion-proyectos .proyectos .proyecto1 {
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px auto;
    border: 1px red solid;
    width: 80%;
    margin: 10px;
    background-color: #3e4756;
  }
  .contenido .seccion-proyectos .proyectos .proyecto1:hover {
    transform: none;
  }
  .contenido .seccion-proyectos .proyectos .proyecto2 {
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px auto;
    border: 1px red solid;
    width: 80%;
    margin: 10px;
    background-color: #3e4756;
  }
  .contenido .seccion-proyectos .proyectos .proyecto2:hover {
    transform: none;
  }
  .contenido .seccion-proyectos .proyectos .proyecto3 {
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px auto;
    border: 1px red solid;
    width: 80%;
    margin: 10px;
    background-color: #3e4756;
  }
  .contenido .seccion-proyectos .proyectos .proyecto3:hover {
    transform: none;
  }
  .contenido .seccion-proyectos .proyectos .proyecto4 {
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px auto;
    border: 1px red solid;
    width: 80%;
    margin: 10px;
    background-color: #3e4756;
  }
  .contenido .seccion-proyectos .proyectos .proyecto4:hover {
    transform: none;
  }
  .contenido .seccion-conocimientos .tecnologias {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-gap: 20px 0;
  }
  .contenido .seccion-conocimientos .tecnologias .frontend .fondo ul li, .contenido .seccion-conocimientos .tecnologias .backend .fondo ul li, .contenido .seccion-conocimientos .tecnologias .otros .fondo ul li {
    display: flex;
    justify-content: center;
  }
  .contenido .seccion-conocimientos .tecnologias .frontend .fondo ul, .contenido .seccion-conocimientos .tecnologias .otros .fondo ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .contenido .seccion-conocimientos .tecnologias .backend .fondo ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
}