@media screen and (max-width: 1295px) {
  .contenido .seccion-proyectos, .contenido .seccion-conocimientos, .contenido .sobre-mi {
    padding: 0px;
    padding-top: 60px;
  }
  .contenido .seccion-proyectos .proyectos .proyecto1 {
    grid-template-rows: 400px;
    border: 1px red solid;
    width: 900px;
  }
  .contenido .seccion-proyectos .proyectos .proyecto1:hover {
    transform: scale(1.02);
    transition: all 0.2s;
  }
  .contenido .seccion-proyectos .proyectos .proyecto2 {
    grid-template-rows: 400px;
    border: 1px red solid;
    width: 900px;
  }
  .contenido .seccion-proyectos .proyectos .proyecto2:hover {
    transform: scale(1.02);
    transition: all 0.2s;
  }
  .contenido .seccion-proyectos .proyectos .proyecto3 {
    grid-template-rows: 400px;
    border: 1px red solid;
    width: 900px;
  }
  .contenido .seccion-proyectos .proyectos .proyecto3:hover {
    transform: scale(1.02);
    transition: all 0.2s;
  }
  .contenido .seccion-proyectos .proyectos .proyecto4 {
    grid-template-rows: 400px;
    border: 1px red solid;
    width: 900px;
  }
  .contenido .seccion-proyectos .proyectos .proyecto4:hover {
    transform: scale(1.02);
    transition: all 0.2s;
  }
}
@media screen and (max-width: 925px) {
  .contenido .seccion-proyectos .proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenido .seccion-proyectos .proyectos .proyecto1 {
    grid-template-columns: auto;
    grid-template-rows: 300px auto;
    border: 1px red solid;
    width: 90%;
  }
  .contenido .seccion-proyectos .proyectos .proyecto1:hover {
    transform: none;
  }
  .contenido .seccion-proyectos .proyectos .proyecto2 {
    grid-template-columns: auto;
    grid-template-rows: 300px auto;
    border: 1px red solid;
    width: 90%;
  }
  .contenido .seccion-proyectos .proyectos .proyecto2:hover {
    transform: none;
  }
  .contenido .seccion-proyectos .proyectos .proyecto3 {
    grid-template-columns: auto;
    grid-template-rows: 300px auto;
    border: 1px red solid;
    width: 90%;
  }
  .contenido .seccion-proyectos .proyectos .proyecto3:hover {
    transform: none;
  }
  .contenido .seccion-proyectos .proyectos .proyecto4 {
    grid-template-columns: auto;
    grid-template-rows: 300px auto;
    border: 1px red solid;
    width: 90%;
  }
  .contenido .seccion-proyectos .proyectos .proyecto4:hover {
    transform: none;
  }
  .contenido .contacto {
    border: 1px red solid;
  }
  .contenido .contacto .vias-comunicacion {
    border: 1px red solid;
  }
}
@media screen and (max-width: 790px) {
  .barra-navegacion .links-navegacion {
    grid-template-columns: auto auto;
    display: none;
  }
  .barra-navegacion .links-navegacion .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: auto;
    z-index: 1;
  }
  .barra-navegacion .links-navegacion .menu .fondo-menu {
    display: block;
    border: 1px red solid;
  }
  .barra-navegacion .links-navegacion .menu ul {
    border: 1px red solid;
    position: relative;
    top: 0;
    align-items: stretch;
    background-color: #24292e;
    flex-direction: column;
    justify-content: flex-start;
  }
  .barra-navegacion .links-navegacion .menu ul li {
    width: 100%;
    height: 50px;
  }
  .barra-navegacion .links-navegacion .menu ul li p {
    font-size: 20px;
    color: #fff;
  }
  .barra-navegacion .links-navegacion .menu ul li:first-child {
    display: flex;
  }
  .barra-navegacion .abrir-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .barra-navegacion .abrir-menu i {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    margin-right: 45px;
  }

  .contenido .seccion-proyectos .proyectos .proyecto1 {
    border: 1px red solid;
    width: 80%;
    margin: 10px;
  }
  .contenido .seccion-proyectos .proyectos .proyecto2 {
    border: 1px red solid;
    width: 80%;
    margin: 10px;
  }
  .contenido .seccion-proyectos .proyectos .proyecto3 {
    border: 1px red solid;
    width: 80%;
    margin: 10px;
  }
  .contenido .seccion-proyectos .proyectos .proyecto4 {
    border: 1px red solid;
    width: 80%;
    margin: 10px;
  }
  .contenido .seccion-conocimientos .tecnologias {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-gap: 20px 0;
  }
  .contenido .seccion-conocimientos .tecnologias .frontend, .contenido .seccion-conocimientos .tecnologias .backend, .contenido .seccion-conocimientos .tecnologias .otros {
    padding: 10px;
  }
  .contenido .seccion-conocimientos .tecnologias .frontend .fondo ul li, .contenido .seccion-conocimientos .tecnologias .backend .fondo ul li, .contenido .seccion-conocimientos .tecnologias .otros .fondo ul li {
    display: flex;
    justify-content: center;
  }
  .contenido .seccion-conocimientos .tecnologias .frontend .fondo ul, .contenido .seccion-conocimientos .tecnologias .otros .fondo ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .contenido .seccion-conocimientos .tecnologias .backend .fondo ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 650px) {
  .contenido .contacto .vias-comunicacion .derecha {
    padding: 0;
    border: 1px red solid;
  }
  .contenido .contacto .vias-comunicacion .derecha p {
    font-size: 18px;
  }
  .contenido .contacto .vias-comunicacion .derecha p a {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .fuente-grande {
    font-size: 40px;
  }

  .contenido .seccion-conocimientos .tecnologias .frontend .fondo ul, .contenido .seccion-conocimientos .tecnologias .otros .fondo ul {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
  .contenido .seccion-conocimientos .tecnologias .backend .fondo ul {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .contenido .sobre-mi .descripcion {
    padding: 10px;
  }
  .contenido .contacto .vias-comunicacion {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .contenido .contacto .vias-comunicacion .izquierda {
    justify-content: space-around;
  }
  .contenido .contacto .vias-comunicacion .derecha {
    padding: 5px;
  }
}