.fuente-grande{
    font-size: 50px;
    text-align: center;
}

.contenido{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100vh 100vh 100vh 100vh 60vh;
    
    .seccion-proyectos, .seccion-conocimientos, .sobre-mi{
        padding: 60px;
    }

    // .contacto{
    //     padding-bottom: 10px;
    // }

    .nombre{
        
        
        // background: url('https://www.hola.com/imagenes/estar-bien/20190820147813/razas-perros-pequenos-parecen-grandes/0-711-550/razas-perro-pequenos-grandes-m.jpg');
        background: url('../img1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        
        
        padding-bottom: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .seccion-proyectos{
        display: flex;
        border: 1px red solid;
        flex-direction: column;
        // justify-content: center;

        .proyectos{
            border: 1px red solid;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            justify-content: space-around;
            grid-gap: 15px 0px;
            
            flex-wrap: wrap;
            @for $i from 1 through 4{
                .proyecto#{$i}{

                    border-radius: 10px;
                    margin: 10px 0;
                    border: 1px red solid;
                    width: 500px;
                    img{
                        display: flex;
                        border-radius: 10px 10px 0 0;
                        width: 100%;
                    }

                    h3{
                        text-align: center;
                    }

                    .links{
                        border: 1px red solid;
                        display: flex;
                        justify-content: space-around;
                        a {
                            border: 1px red solid;
                            font-size: 20px;

                        }
                        // width: 200px;
                    }
                }
            }
        }
        
    }

    .seccion-conocimientos{
        border: 1px blue solid;

        .tecnologias{
            border: 1px red solid;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto;
            grid-column-gap: 40px;
            .frontend, .backend, .otros{
                
                border: 1px red solid;
                h2{
                    font-size: 40px;
                    text-align: center;
                    text-decoration: underline;
                    margin-bottom: 10px;
                }

                ul{
                    border: 1px red solid;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    li {
                        font-size: 30px;
                        // font-weight: 800;
                        margin: 20px 0;
                        border: 1px red solid;
                        display: flex;
                        align-items: center;
                        .fab{
                            font-size: 60px;
                            margin-right: 15px;
                        }

                        img{
                            width: 80px;
                            margin: 15px;
                        }

                        .fa-html5{
                            color: #e34f26;
                        }
                        .fa-css3-alt{
                            color: #1572b6;
                        }
                        .fa-js{
                            color: #f7df1e;
                        }

                        .fa-sass{
                            color: #CD6799;
                        }

                        .fa-laravel{
                            color: #fb503b;
                        }

                        .fa-git-alt{
                            color: #f34f29;
                        }
                    }
                }
            }

            // .backend{
            //     border: 1px red solid;
            // }
            // .otros{
            //     border: 1px red solid;
            // }
        }

    }

    .sobre-mi{
        border: 1px red solid;



    }

    .contacto{
        border: 1px red solid;
    }

}