.fuente-grande{
    font-size: 50px;
    text-align: center;
}

.contenido{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100vh auto auto auto auto;
    
    .seccion-proyectos, .seccion-conocimientos{
        padding: 45px;
        // width: 100vw;
    }

    .nombre{
        
        
        // background: url('https://www.hola.com/imagenes/estar-bien/20190820147813/razas-perros-pequenos-parecen-grandes/0-711-550/razas-perro-pequenos-grandes-m.jpg');
        background: url('../imagenes/img1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        
        
        padding-bottom: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .seccion-proyectos{
        display: flex;
        // border: 1px red solid;
        flex-direction: column;
        background-color: #f2f2f2;

        .proyectos{
            // border: 1px red solid;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            justify-content: center;
            // grid-gap: 0px 0px;
            // width: 100%;
            
            @for $i from 1 through 4{
                .proyecto#{$i}{

                    border-radius: 5px;
                    margin: 20px 0;
                    // display: flex;
                    display: grid;
                    grid-template-columns: 60% 40%;
                    grid-template-rows: 300px;
                    justify-content: center;
                    // border: 1px red solid;
                    width: 1200px;
                    transition: all .2s;
                    background-color: #3e4756;

                    .imagen1{
                        background-image: url('../proyectos/Captura proyecto1.JPG');
                        // border: 1px red solid;
                        
                    }

                    .imagen2{
                        background-image: url('../proyectos/Captura proyecto2.JPG');
                    }

                    .imagen#{$i}{
                        border-radius: 5px 0 0 5px;
                        background-size: cover;
                        background-position: center;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 5px 0 0 5px;
                        }
                    }

                    .info{
                        display: grid;
                        grid-template-columns: auto;
                        grid-template-rows: auto 50px;
                        .texto{
                            // border: 1px blue solid;
                            padding: 20px;
                            display: grid;
                            grid-template-columns: auto;
                            grid-template-rows: auto auto;
                            width: 100%;
                            h3{
                                color: #e3e3e3;
                                text-align: center;
                                text-decoration: underline;
                            }
                            p{
                                // border: 1px red solid;
                                color: #e3e3e3;
                                font-size: 20px;
                            }
                        }
    
                        .links{
                            // border: 1px red solid;
                            display: flex;
                            transition: all .2s;
                            padding: 5px;
                            justify-content: space-around;
                            a {
                                // border: 1px red solid;
                                display: flex;
                                align-items: center;
                                font-size: 20px;
                                background-color: #1fa9b5;
                                border-radius: 3px;
                                padding: 5px;
                                color: #e3e3e3;
                                transition: all .2s;
                            }
    
                            a:hover{
                                transform: scale(1.05);
                                transition: all .2s;
                                color: #ff6600;
                            }
                            // width: 200px;
                        }
                    }

                    
                }

                .proyecto#{$i}:hover{
                    transform: scale(1.05);
                    transition: all .2s;
                }
            }
        }
        
    }

    .seccion-conocimientos{
        // border: 1px blue solid;
        background-color: #e3e3e3;
        
        .tecnologias{
            // border: 1px red solid;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto;
            grid-column-gap: 10px;
            

            
            .frontend, .backend, .otros{
                
                // border: 1px red solid;
                .fondo{
                    background-color: #ccc;
                    height: 100%;
                    h2{
                        font-size: 40px;
                        text-align: center;
                        text-decoration: underline;
                        margin-bottom: 10px;
                    }
    
                    ul{
                        // border: 1px #ccc solid;
                        background-color: #ccc;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        li {
                            font-size: 30px;
                            // font-weight: 800;
                            margin: 20px 0;
                            // border: 1px red solid;
                            display: flex;
                            align-items: center;
                            .fab{
                                font-size: 60px;
                                margin-right: 15px;
                            }
    
                            img{
                                width: 80px;
                                margin: 15px;
                            }
    
                            .fa-html5{
                                color: #e34f26;
                            }
                            .fa-css3-alt{
                                color: #1572b6;
                            }
                            .fa-js{
                                color: #f7df1e;
                            }
    
                            .fa-sass{
                                color: #CD6799;
                            }
    
                            .fa-laravel{
                                color: #fb503b;
                            }
    
                            .fa-git-alt{
                                color: #f34f29;
                            }
                        }
                    }
                }
            }
        }

    }

    .sobre-mi{
        h2{
            color: #fff;
        }
        border: 1px red solid;
        background-color: #3e4756;
        .descripcion{
            padding: 125px;
            border: 1px red solid;
        }

    }

    .contacto{
        h2{
            color: #fff;
        }
        // border: 1px red solid;
        background-image: url('../imagenes/img1.jpg');
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px 0;
        .vias-comunicacion{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            justify-content: space-around;
            background-color: rgba(255,255,255, 0.4);
            

            .izquierda{
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto;
                // justify-content: space-around;
                align-items: center;
                // border: 1px red solid;

                .linkedin, .github{
                    i{
                        font-size: 50px;
                    }
                }

                .linkedin{
                    color: #0077b5;
                    margin-right: 20px;
                }

                .github{
                    color: #000;
                }
            }

            .derecha{
                // border: 1px blue solid;
                padding: 10px;
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto auto;
                align-items: center;

                p{
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    margin: 10px 0;
                    color: #fff;

                    a{
                        color: #fff;
                        font-size: 22px;
                    }

                    i{
                        margin-right: 10px;
                        
                    }
                }
            }
        }
    }

}