.navbar{
	background-color: #5902cc;
}

aside.container-fluid{
	display: flex;
	justify-content: center;
	align-items: center;
	clip-path: ellipse(50% 60% at 50% 0);
	background-color: #5902cc;
	height: 200px;
}

aside.container-fluid .circulo h1{
	margin-bottom: 120px;
	font-size: 35px;
}

.info{
	position: relative;
	border: 1px red solid;
}

.carta{
	display: grid;
	position: relative;
	z-index: 190;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

/*Circulo en el centro del pokemon*/
.carta::after{
	content: '';
	width: 200px;
	height: 200px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	position: absolute;
	/*background-color: #cc0274;*/
	background-color: var(--success);
	z-index: -23;
}
.carta img{
	width: 180px;
}

.nombre{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
}

.loader{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.caja{
	position: relative;
	height: auto;
	padding: 0;
}



#pantallaDeCarga{
	display: none;
	transition: all .4s;
	position: absolute;
	border-radius: 20px;
	width: 100%;
	height: 100%;
	z-index: 2000;
}

#pokemones{
	/*border: 1px blue solid;*/
	overflow: hidden;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 30px -2px;
}

#caracteristicas{
	position: relative;
	z-index: 150;
}

.loader .pokebola{
	position: relative;
	background-color: #fff;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	animation: rotacionPokebola .5s linear infinite;
}

.loader .pokebola::before{
	content: '';
	position: absolute;
	background-color: #ff1c1c;
	width: 100%;
	height: 50%;
	border-radius: 50px 50px 0 0;
}

.loader .pokebola .medio{
	width: 100%;
	height: 2px;
	background-color: #333;
	position: absolute;
	top: 50%;
}

.loader .pokebola .medio::before{
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #333;
}

.loader .pokebola .medio::after{
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	background-color: #fff;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.contacto{
	border: 1px red solid;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
}


@keyframes rotacionPokebola{

	from{
		 transform: rotate(0);
	}to{
		transform: rotate(360deg);
	}

}


@media screen and (max-width: 488px){
	aside.container-fluid .circulo h1{
		margin-bottom: 120px;
		font-size: 25px;
	}
}